body{
    background-image: url(../Images/Nierbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: black; /*főként a wcag miatt kell mert enélkül azt hiszi fehér a háttér*/
    font-family: Verdana,sans-serif ,Tahoma,Geneva ;
    color: wheat;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
h2{text-align: center;}

caption{color: wheat;}

nav#toContent a {position:absolute; left:-9999px}
nav#toContent a:focus {position:static; background-color:white}

div.nav-item{
    position: relative;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1em;
}
@media (max-width: 991px) { /*itt vált át a navbar*/
    div.nav-item{margin-top: 1em;}
}
div.nav-home{
    margin-top: 0;
}

div.nav-home{background-image: url(../Images/Lunar_Tear.png);}
div.navbar-nav div.nav-item:nth-child(1){background-image: url(../Images/YoRHa_logo.png);}
div.navbar-nav div.nav-item:nth-child(2){background-image: url(../Images/Machine_Head.png);}
div.navbar-nav div.nav-item:nth-child(3){background-image: url(../Images/Other.png);}

/*az adott oldalon jár a személy*/
.here{
    color:aqua !important;
    font-style: italic;
}
/**/

div.nav-item:hover{transform: scale(1.3);}

div.nav-item span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 100px;
    font-size: 0.9em;
    color: white;
}
div.nav-item span:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    line-height: 60px;
}

span.navbar-text{
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    color: black;
    margin-right: 0.5em;
    text-align: center;
}
span.motd{
    font-size: 1em;
    font-weight: normal;
    font-variant: none;
    font-style: italic;
    width: 1em;
    text-align: left;
}

/*nav bar megoldás mert mindig ki logot*/
@media (min-width:992px){
div.navbar-collapse.collapse{
        display: flex;
        justify-content: flex-end;
    }
}

video{
    width: 100%;
    height: auto;
}